<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513890990999-6jre5ful0cjgu64jft7jjd0er1uvic6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513890990999-6jre5ful0cjgu64jft7jjd0er1uvic6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDnkP6wpWO-lvNoTEVTbS--vdH3osiQ5kk</string>
	<key>GCM_SENDER_ID</key>
	<string>513890990999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.satu.salingbantu</string>
	<key>PROJECT_ID</key>
	<string>satu-salingbantu</string>
	<key>STORAGE_BUCKET</key>
	<string>satu-salingbantu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513890990999:ios:7beef3fee85076389b22d2</string>
</dict>
</plist>